<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/signup.css" type="text/css" rel="stylesheet"> 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>AskBen: Email Has Been Sent</title>
    
  </head>

  <body>    

    <div class="container-fluid bg"> 
      

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"> 
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <form class="form-container" action="/reset" method="post" onsubmit="return checkEmptyFields()">

            <img src="/assets/upennShield.png" id = "shield"> </img>

            <div class="form-group">
              <br>
              <label>A confirmation code has been sent to the provided email address. Please enter the information below to finish resetting your password.</label>
            </div>

            <div class="form-group small_text">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
            </div>

            <div class="form-group small_text">
              <label for="code">Confirmation Code</label>
              <input type="password" class="form-control" id="code" placeholder="Enter code" name="code">
            </div>

            <div class="form-group small_text">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>

            <button type="submit" class="btn btn-block btn-primary signup"> Reset Password </button>

            <h6 id="incorrectInfo" class="form-text errorMessage"> </h6>
                    
          </form>
         </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12"> </div>
      </div>

    </div>>

    <script type="text/javascript">

        function checkValidReset() {
          var validReset = <%= validReset %>;
            if (validReset == false) {
              document.getElementById("incorrectInfo").innerHTML = "Your email and code do not match. Please make sure you entered your code and email in correctly.";
            }
        }

        checkValidReset();

        function checkEmptyFields() {
          var email = document.getElementById('email').value;
          var code = document.getElementById('code').value;
          var password = document.getElementById('password').value;
                   
          if (email == "" || code == "" || password == "") {
            if (email == "") {
               document.getElementById('email').style.borderColor = 'red';
            } 

            if (code == "") {
              document.getElementById('code').style.borderColor = 'red';
            } 

            if (password == "") {
              document.getElementById('password').style.borderColor = 'red';
            }
            document.getElementById("incorrectInfo").innerHTML = "Please fill in all of the fields.";

            return false;                    
          } else {
            return true;
          }               
        }      

    </script>
   
  </body>
  

</html>