<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/signup.css" type="text/css" rel="stylesheet"> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>AskBen: Home</title>
    
  </head>

  <body style="background-color: white;">
    <script type="text/javascript">
      var recent_tags = getMostRecentTags(10);
      $("#li0").html(recent_tags[0][1]);
      $("#li1").html(recent_tags[1][1]);
      $("#li2").html(recent_tags[2][1]);
      $("#li3").html(recent_tags[3][1]);
      $("#li4").html(recent_tags[4][1]);
      $("#li5").html(recent_tags[5][1]);
      $("#li6").html(recent_tags[6][1]);
      $("#li7").html(recent_tags[7][1]);
      $("#li8").html(recent_tags[8][1]);
      $("#li9").html(recent_tags[9][1]);
    </script>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home"><img src="/assets/ben_frank.png" style="width: 50px; height: 45px;"></a>
        <div class="collapse navbar-collapse" id="navbarText" >
          
          <ul class="main-nav navbar-nav mr-auto">
            <li class="home nav-item">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
            </li>
          </ul>

          <span class="navbar-text">
            <form method="post" action="/logout">
              <button type="submit" class="btn btn-light">Signout</button>         
            </form>
          </span>

        </div>
      </nav>
    </div>
		
    <div class="container-fluid background_home">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-12"> 

          <div class="feed-text feed-title"> 
            <div style="float: left;"> <h5 class="feed-text">Feed</h5> </div>
          </div>
          
          <div class="feed-control nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="feed-text nav-link active" id="#v-pills-home" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Most Popular</a>
            <a class="feed-text nav-link" id="#v-pills-trending" data-toggle="pill" href="#v-pills-trending" role="tab" aria-controls="v-pills-trending" aria-selected="false">Trending</a>
            <a class="feed-text nav-link" id="#v-pills-recent" data-toggle="pill" href="#v-pills-recent" role="tab" aria-controls="v-pills-recent" aria-selected="false">Recent</a>
          </div>

        </div>

        <div class="col-md-auto col-sm-4 col-xs-12">

          <div class="modal" tabindex="-1" role="dialog" id = "post-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title feed-text"> Post a new question </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="feed-text">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/postQuestion" method="post">
                    <input class="form-control feed-text modal-margins" id="input-question" placeholder="Ask your question here" name="question">
                    <input class="form-control feed-text modal-margins" id="input-expl" placeholder="Add further information here" name="details">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="post-btn btn btn-primary"> Post </button>
                    <button type="button" class="post-anon-btn btn btn-primary" data-dismiss="modal"> Post Anonymously </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="modal" tabindex="-1" role="dialog" id = "ans-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title feed-text"> Post an answer </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="feed-text">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/postAnswer" method="post">
                    <input class="form-control feed-text modal-margins" id="input-ans" placeholder="Answer here" name="ans_content">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="ans-btn btn btn-primary" data-dismiss="modal"> Answer </button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>

          <ul class="posts">

            <div class="question-card card" style="width: 40rem;">
              <div class="card-body">
                <div class="question-input input-group mb-3">
                  <input id = "post-text" type="text" class="form-control" placeholder="Post a question" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post-modal"> 
                      Post  
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
            <div>
              <hr>
              <h2 class="card-link card-col card-question"> Trending Topics </h2>
              <p class="card-text card-col">Top Ten Tags in the last 48 hours:</p>
              <hr>

              <ol class="ordered_tags">
                <li><a id = "li0" href="#"></a></li>
                <li><a id = "li1" href="#"></a></li>
                <li><a id = "li2" href="#"></a></li>
                <li><a id = "li3" href="#"></a></li>
                <li><a id = "li4" href="#"></a></li>
                <li><a id = "li5" href="#"></a></li>
                <li><a id = "li6" href="#"></a></li>
                <li><a id = "li7" href="#"></a></li>
                <li><a id = "li8" href="#"></a></li>
                <li><a id = "li9" href="#"></a></li>
              </ol>
            </div>

          </ul>


        </div>

        <div class="col-lg-3 col-sm-4 col-xs-12"> 
        </div>

      </div>
    </div>

  </body>
</html>