<!DOCTYPE html>
<html>
<head>
<link href="css/welcome.css" type="text/css" rel="stylesheet"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
</head>
<header>
  <h1>Welcome to AskBen!</h1>
  <p>AskBen is an online discussion board for all Penn related questions. Post, answer, and learn!</p>
  <p> </p>
  <p> </p>
  <a href="/login" class="button">Login</a>

<script type = "text/javascript" language = "javascript">
  $.getScript('db.js', function() {
                  // Call custom function defined in script
                  test();
               });
  </script>

</header>
</html>